<form action='/login' method='POST'>
  <label for='input-Username'>Username</label>
  <input
    type='text'
    name='username'
    id='username'
    placeholder='Username'
    required
  />

  <label for='input-password'>Password</label>
  <input
    type='password'
    name='password'
    id='password'
    placeholder='A safe password'
    required
  />
  <button>Login existing user</button>
</form>