<form action='/signup' method='POST'>
  <label for='input-name'>Username</label>
  <input
    type='text'
    id='input-name'
    name='username'
    placeholder='username'
    required
  />

  <label for='input-password'>Password</label>
  <input
    type='password'
    id='input-password'
    name='password'
    placeholder='A safe password'
    required
  />

  <button>Register new user</button>
</form>